maloney_04/Maloney_04 schema.rnc

start= root
root= element root {metadata, typewriter}

metadata= element metadata {stamp}
    stamp= element stamp {where, lines, color, origin}
        where= attribute where {text}
        lines= attribute lines {text}
        color= attribute color {text}
        origin= attribute origin {text}

typewriter= element typewriter {heading, title, author, stanza+, author, end, citation}
    heading= element heading {text}
    title= element title {text}
    author= element author {type, text}
        type= attribute type {text}
    stanza= element stanza {line+, num}
        line= element line {num, text, mixed{underlined*}}
            underlined= element underlined {text}
        num= attribute num {text}
    end= element end {text, mixed{location}}
        location= element location {text}
    citation= element citation {text}