Schema pre test/recipeSchema-1.rnc

# DIGIT 110 RELAX NG PRE-TEST HOMEWORK INSTRUCTIONS:  
# * You're downloading two files: Rename these files according to our standard file naming conventions for Canvas submissions (as in: beshero-rng4.xml and beshero-rng4.rnc)
# * Make the schema well-formed and document with  # comments where you made change(s). 
# * Then, associate the schema with the XML file we have provided for the exam.
# * Next, correct the schema code so that it validates the XML (happy green oXygen for both documents) and document briefly with # comments what you changed and why.
#  **NOTE**: DO NOT CHANGE the markup in the XML file, except to add your schema line!
#
# TIPS: 
# There are 13 critical errors in this Relax-NG schema that will make oXygen's error-checking box RED. Only a few of them will appear at first in the Relax NG. 
# More errors will be revealed when you associate the schema with the XML file.
# Your goal is to correct each of these errors.

# First, correct the schema file so it "turns green" in oXygen and write a comment to document each correction.
# Then, associate your corrected  schema with the XML (and remove the original schema line). 
# At that point the other validation errors will become evident in the XML file.)
# Remember to split your oXygen screen (Window -> Tile Editors Vertically), and carefully examine the XML to see how 
# the elements are written. 
# DO NOT CHANGE THE MARKUP IN THE XML FILE. Make ALL corrections in the Relax NG Schema to make the XML valid according to the schema.
# Save the schema and use the red checkmark in oXygen to check the validation as you go.
#
# SUBMITTING YOUR WORK:
# When you are finished, upload BOTH the schema and the XML file to Canvas using the posted upload point for this exam. 
# You may zip the files to submit them just as you have done for homework assignments.

start = xml
xml = element xml {metadata, recipe}
    metadata = element metadata {title, author, editor, source, time, yield}
        title = element title {text}
        author = element author {id, text}
            id = attribute id {xsd:ID}
        editor = element editor {id, text}
        source = element source {url, text}
            url = attribute url {xsd:anyURI}
        time = element time {dur, text}
            dur = attribute dur {xsd:duration}
        yield = element yield {text}
        
recipe = element recipe {ingList, prep}
    ingList = element ingList {heading, ing+}
        heading = element heading {text}
        ing = element ing {id, quant?, unit?, mixed{alt*}}
            alt = element alt {quant, unit, text}
            quant = attribute quant {xsd:float}
            unit = attribute unit {"cup" | "T" | "t"  | "F" | "C" | "inch" | "pint"}
prep = element prep {heading, step+}
    step = element step {n, text, mixed{(combine | equip | ingUse | equipUse)*}}
        equip = element equip {id, mixed{(equipUse | time | temp | size | setting)*}}
            setting = element setting {text} 
            equipUse = element equipUse {ref, mixed{(temp | size | equip | equipUse | ingUse | setting | time)*}}
        temp = element temp {quant, unit, text}
        size = element size {depth, unit, text}
            depth = attribute depth {xsd:float}
        ingUse = element ingUse {ref*, quant*, unit*, text}
            ref = attribute ref {xsd:IDREFS}
        combine = element combine {ref, text, mixed{ingUse*}}
        n = attribute n {text}

#1. i made it look nice
#2. add pint to unit attribute
#3. add () to step mixed element
#4. add setting element
#5. put inUse in combine element in mixed
#6. add yield
#7. n attribute only needs text
#8. changed step? to setp+
#9. add url to source
#10. change empty to text in source









