maloney_06/goodMorning_01.rnc

start = root
root = element xml { source, poem }

source = element source { title, author, date }
    title = element title { level, text }
        level = attribute level { text }
    author = element author { text }
    date = element date { when, empty }
        when = attribute when { xsd:gYear }

poem = element poem { title, lg+ }
    lg = element lg { ln+ }
        ln = element ln { n, mixed{ placeName*, place*, motif? } }
            n = attribute n { text }
            placeName = element placeName { ref+, text }
            place = element place { ref+, text }
                ref = attribute ref { text }
            motif = element motif { text }
    